name: C CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install Arm GNU Toolchain (arm-none-eabi-gcc)
    - uses: carlosperate/arm-none-eabi-gcc-action@v1
      with:
        release: '14.3.Rel1' # <-- The compiler release to use
    - uses: actions/checkout@v4
    - name: clean
      run: make clean
    - name: make
      run: make
  
